html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
}

body {
    padding-top: 56px;
}

.display {
    display: block;
}

.no-display {
    display: none;
}

.info {
    color: #17a2b8;
}

.success {
    color: #28a745;
}

.warning {
    color: #ffc107;
}

.danger {
    color: #dc3545;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 2px;
}

#bloch-sphere {
    height: calc(90% - 56px);
}

#bloch-sphere-state {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0vw; /* Magic number to fit html content on different screen sizes */
    font-weight: bolder;
    text-align: center;
    height: 10%;
}

#toolbox {
    overflow: auto;
}

.modal, .navbar {
    color: #000000;
}

.btn {
    border: 0 none;
    text-transform: uppercase;
}

.btn-primary:active, .btn-primary.active {
    background: #66B2FF;
    box-shadow: none;
}

.btn-custom {
    border-radius: 0px;
}

.textarea-custom {
    border-radius: 0px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    resize: none;
}
